.place__title {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    max-width: 460px;
    grid-area: Place-title;
}

@media screen and (max-width: 1024px ) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        margin: 0 0 0 16px;
        font-size: 32px;
        line-height: 35px;
        max-width: 200px;
    }
}