.header {
    display: flex;
    flex-direction: row;
    margin: 28px auto 0 auto;
    justify-content: space-between;
    padding-left: 48px;
    padding-right: 48px;
    min-width: 1184px;
}

    
