.content {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1280px;
}

@media screen and (max-width: 1024px) {
    .content {
     max-width: 1024px;
      } }

@media screen and (max-width: 768px) {
        .content {
        min-width: 768px;
    } }

    @media screen and (max-width: 320px) {
        .content {
        min-width: 320px;
    } }
    
