.footer__link {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}
.footer__link:hover {
    color: #176BFF;
    opacity: .8;
    transition: all 0.3s linear;
    cursor: url(../../../vendor/pointer/pointer.png), auto;
}

@media screen and (max-width: 320px) {
    .footer__link {
    font-size: 24px;
    line-height: 24px;
    }
    
}