.footer__link {
    color: #fff;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}
.footer__link:hover {
    color: #176BFF;
    transition: color 0.3s linear;
}