.lead__title {
    position: relative;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style:  normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    color: #fff;
    max-width: 720px;
    text-align: center;
    margin: 0 auto 0 auto;
    padding: 0;
    box-sizing: border-box;
    align-self: center;
    text-overflow:ellipsis;
}



@media screen and (max-width: 676px) {
    .lead__title {
        font-size: 60px;
        line-height: 64px;
    }
}

@media screen and (max-width: 576px) {
    .lead__title {
        width: calc(100% - 10px);
        font-size: 40px;
        line-height: 44px;
    }
}

@media screen and (max-width: 320px) {
    .lead__title {
        min-width: 288px;
    }
}