.intro { 
    display: flex;
    flex-direction: column;
    margin: 92px auto 0 148px;
    padding: 0;
    max-width: 690px;
}

@media screen and (max-width: 1024px) {
    .intro {
        margin: 92px auto 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .intro {
        max-width: 768px;
        margin: 88px auto 0 24px;
    }
}

@media screen and (max-width: 345px) {
    .intro {
        max-width:288px;
        margin: 64px auto 0 16px;
    }
}