
@font-face {
  font-family: "InterRegular";
  src: local("InterRegular"),
       local(Inter-Regular),
       url(../vendor/fonts/Inter-Regular.woff2) format("woff2"),
       url(../vendor/fonts/Inter-Regular.woff) format("woff");
}

@font-face {
  font-family: "InterBlack";
  src: local("InterBlack"),
       local(Inter-Black),
       url(../vendor/fonts/Inter-Black.woff2) format("woff2"),
       url(../vendor/fonts/Inter-Black.woff) format("woff");
}