.footer {
    margin: 92px auto 24px auto;
    min-width: 1184px;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
   min-width: 928px;
    }
}