.footer {
    margin: 92px auto 24px auto;
    min-width: 1184px;
    min-height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .footer {
   max-width: 928px;
    }
}

@media screen and (max-width: 768px) {
    .footer {
   min-width: 720px;
    margin: 88px auto 24px auto;
    }
}

@media screen and (max-width: 320px) {
    .footer {
   min-width: 186px;
    margin: 64px auto 24px 16px;
    flex-direction: column;
    gap: 48px;
    }
}